* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.nav {
    background-color: white;
    position: sticky;
    top: 0;
    padding-top: 10px;
}


.nav-bar .nav-head {
    text-align: center;
    background-color: black
}

.nav-bar .nav-head p {
    color: white;
    padding: 20px;
}

.nav-1 {
    background-color: #f5f1f1;
    padding: 10px;
    width: 100%;
}

.nav-1 .links {
    width: 100%;
    text-align: right;
}

.nav-1 .links a {
    color: black;
    text-decoration: none;
    margin: 13px;
    opacity: 0.5;
}

.nav-1 .links a:hover {
    opacity: 1.5;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn,.shopdropbtn {
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 18%;
    z-index: 1;
}

.dropdown-content .header {
    background: white;
    padding: 16px;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.site-logo {
    margin-left: 20px;
    width: 13%;
}

.site-logo img {
    width: 110px;
}

.nav-links {
    width: 33%;
    margin-top: 8px;
}
.nav .nav-links button {
    margin-top: -15px;
    font-size: 13px;
}

.nav .nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-size: 13px;
    transform: capitalize;
}

.nav .nav-links a:hover {
    color: #e5c2e5;
}

.nav .nav-links button:hover {
    color: #e5c2e5;
}

.nav .nav-links .dropdown .dropdown-content .header a {
    margin-left: 0px !important;
    background-color: white;
}

.nav-logs {
    margin-right: 40px;
}

.nav-logs img {
    width: 1.3vw;
    margin: 10px;
}

.navTab{display: none;}

.navTab .dropdown .mobileSearch{display: none;}